@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* h1 */
    h1 {
        @apply text-2xl font-bold leading-tight;
    }

    /* h2 */
    h2 {
        @apply text-xl font-bold leading-tight;
    }

    /* lists */
    ol {
        @apply list-disc list-inside;
    }

    .tooltip-container {
        position: relative;
        display: block;
        width: fit-content;
        padding-right: 3.5em;
    }

    .tooltip {
        visibility: hidden;
        position: absolute;
        z-index: 1;
    }

    .tooltip-container:hover .tooltip {
       visibility: visible;
}




}
